html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.card-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(auto-fill,50%);
  grid-auto-flow: dense;
  grid-gap: 16px;
}
header, footer {
  display: grid;
  grid-template: 100%/ 50% 50%
  }
.links {
  padding-left: 0;
  justify-content: space-between;
}
.bot-menu {
  display: flex;
  height: 64px;
}
.description, .title {
  font-family: Helvetica,sans-serif;
}
.bold {
  font-weight: bold;
}
/* card layout */
.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-template-rows: repeat(auto-fill,minmax(100px,120px));
  color: #333333;
  align-items: center;
}
.critical {
  background: #DB5341;
  border-radius: 20px 20px 0 0;
}
.info {
  background: #FAFAFA;
  border-radius: 20px;
}
.header {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 50% 50%;
  padding: 16px;
  align-items: center;
}
.body {
  padding: 16px;
}
.title {
  grid-area: 1/2/span 1/span 1
}
.icon {
  grid-area: 1/1/span 1/span 1;
}
.source {
  grid-area: 2/1/span 1/span 1;
}
.time {
  grid-area: 2/2/span 1/span 1;
}
.description {
  grid-area: 3/1/span 1/span 2
}
  /* mobile adaptation */
@media screen and (max-width: 320px) {
  .card-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .lenta {
    font-size: 24px;
  }
  .nav-menu {
    background-image: url('../src/icon_list_m@2x.png');
    background-repeat: no-repeat;
    width: 28px;
    height: 32px;
  }
  .card_s , .card_m , .card_l {
    grid-column: span 1;
  }
}
.logo {
  max-height: 27px;
}